*{
    font-family:'Poppins',sans-serif;
}
body{
    background-image: url("images/login.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
.Box{
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 90vh;
}
.Container{
    width: 350px;
    display: flex;
    flex-direction:column ;
    padding: 0 15px  0 15px ;

}
span{
    color:#fff;
    font-size: ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    justify-content:center;
    padding: 10px 0 10px 0;
}
header{
    color:#fff;
    font-size: 30px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display:flex;
    justify-content:center;
    padding: 10px 0 10px 0
}
.input-field{
    display:flex;
    flex-direction:column;
}
.input-field{
    display:flex;
    flex-direction:column;
}

.input{
    height:45px;
    width:87%;
    border:none;
    outline:none;
    border-radius: 30px;
    color: white;
    padding:0 0 0 45px ;
    background:rgba(255,255,255,0.1);
}
i{
    position: relative;
    top: -33px;
    left: 17px;
    color: #fff;
}

::-webkit-input-placeholder{
    color: #fff;
}

.submit{
    border: none;
    border-radius: 30px;
    font-size: 15px;
    height: 45px;
    outline:none;
    width:100%;
    background:rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s;
}
.submit:hover{
    box-shadow: 1px 5px 7 1px rgba(0,0,0,0.2);
}
.bottom{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: small;
    color: #fff;
    margin-top: 10px;
}
.left{
    display: flex;
    color:white;
}
label a{
    color: #fff;
    text-decoration: none;
}